{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'Loginify/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ loginForm.as_p }}
            <button type="submit">Login</button>
        </form>
        <a href="{% url 'signup' %}">Create a new account</a>
    </div>
</body>
</html>
